<header class="banner" aria-role="banner">
  <div class="titlebar"></div>
  <nav class="menubar" aria-role="menubar"></nav>
</header>

<main class="main" aria-role="main"></main>

<footer class="contentinfo" aria-role="contentinfo"></footer>
