<nav class="menubar" aria-role="menubar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a href="#reports"><i class="fa fa-lg fa-reorder"></i> <span class="hidden-xs hidden-sm">Senaste</span></a></li>
        <li><a href="#map"><i class="fa fa-lg fa-location-arrow"> <span class="hidden-xs hidden-sm">Nära</span></i></a></li>
        <li><a href="#create"><i class="fa fa-lg fa-plus"></i> <span class="hidden-xs hidden-sm">Rapportera</span></a></li>
        <li><a href="#user"><i class="fa fa-lg fa-user"></i> <span class="hidden-xs hidden-sm">Profil</span></a></li>
        <li><a href="#settings"><i class="fa fa-lg fa-cogs"></i> <span class="hidden-xs hidden-sm">Inställningar</span></a></li>
    </ul>
  </div>
</nav>
