<div class="map-container" style="height:260px;"></div>
<h3>Skapa rapport</h3>
<form role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="typeid">Välj kategori</label>
        <select id="type" class="form-control typeid">
            {{#each types}}
                <option value="{{id}}">{{title}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="description">Beskrivning</label>
        <textarea id="description" class="form-control description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="file" accept="image/*" capture="camera">
    </div>
    <button type="submit" class="btn btn-default save">Skapa</button>
</form>
