<div style="center">
    <ul class="nav nav-pills">
        <li><a href="#reports"><i class="fa fa-check-circle"></i></a></li>
        <li><a href="#map"><i class="fa fa-map-marker"></i></a></li>
        <li><a href="#create"><i class="fa fa-plus"></i></a></li>
        <li><a href="#user"><i class="fa fa-user"></i></a></li>
        <li><a href="#settings"><i class="fa fa-cogs"></i></a></li>
    </ul>
</div>