<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="panel panel-default space-top-large">
      <div class="panel-body">
        <p class="text-center space-top-base space-bottom-large">Logga in med Facebook för att börja felrapportera i Karlshamn.</p>
        <p><a href="#login" class="btn btn-primary btn-block btn-lg"><i class="fa fa-facebook"></i>&emsp;Logga in</a></p>
        <div class="alert alert-info" role="alert">
          <p><strong>OBS:</strong> Tjänsten är en teknisk prototyp med avsikt att testa infrastruktur och leverans av öppen data i Karlshamns kommun. Den är inte integrerad i kommunens ärendehantering och nya rapporter kommer inte läsas eller åtgärdas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
