<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title">Logga in</h3>
      </div>
      <div class="panel-body">
        <p>Logga in med ditt Facebook-konto för att börja använda felrapportering i Karlshamn.</p>
        <p><a href="#login" class="btn btn-primary btn-block btn-lg"><i class="fa fa-facebook"></i>&emsp;Logga in</a></p>
      </div>
    </div>
  </div>
</div>
