<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li>
      <a href="#reports">
        <i class="fa fa-lg fa-check-square-o"></i>
        <span class="hidden-xs hidden-sm">Senaste</span>
      </a>
    </li>
    <li>
      <a href="#create">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </span>
        <span class="hidden-xs hidden-sm">Rapportera</span>
      </a>
    </li>
    <li>
      <a href="#nearby">
        <i class="fa fa-lg fa-location-arrow"></i>
        <span class="hidden-xs hidden-sm">Nära</span>
      </a>
    </li>
  </ul>
</div>
