<div class="map-container"></div>

<ul class="list-group">
    {{#each reports}}
    <a href="#reports/{{id}}">
        <li class="list-group-item report">
            <span class="badge">0</span>
            <strong>{{type}}:</strong> {{description}}
        </li>
    </a>
    {{/each}}
</ul>