<button type="button" class="titlebar-action btn btn-link navbar-btn"><span class="fa fa-fw fa-sign-out"></span> Logga ut</button>

<div class="navbar-header navbar-right">
  <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" data-target="#titlebar-collapse">
    <!-- <span class="fa fa-fw fa-bars"></span> -->
    <span class="navbar-title">Rapporter i Karlshamn</span>
  </button>
</div>

