<div class="navbar-header text-center">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#titlemenu">
    <span class="sr-only">Visa meny</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <p class="navbar-text">[view title]</p>
</div>
<nav class="collapse navbar-collapse" id="titlemenu" aria-role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="#user"><i class="fa fa-lg fa-user"></i> <span class="hidden-xs hidden-sm">Profil</span></a></li>
    <li><a href="#settings"><i class="fa fa-lg fa-cogs"></i> <span class="hidden-xs hidden-sm">Inställningar</span></a></li>
  </ul>
</nav>
