<span class="titlebar-label">Foo</span>

<button type="button" class="titlebar-action btn btn-link navbar-btn"><span class="fa fa-fw fa-lg fa-check"></span> Spara</button>

<div class="navbar-header navbar-right">
  <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" data-target="#titlebar-collapse">
    <span class="sr-only">Visa meny</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<nav class="collapse navbar-collapse navbar-left" id="titlebar-collapse" aria-role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="#user"><i class="fa fa-fw fa-lg fa-user"></i> Profil</a></li>
    <li><a href="#settings"><i class="fa fa-fw fa-lg fa-cogs"></i> Inställningar</a></li>
  </ul>
</nav>
