<div class="row">
    <div class="col-xs-2 col-sm-2">
        <img class="pull-right img-circle" src="{{pic}}" />
    </div>
    <div class="col-xs-4 col-sm-10">
        <h3>Hej, {{first_name}}!</h3>
        <p>Här hittar du rapporter som du lagt och förhoppningsvis en status om den blivit åtgärdad.</p>
    </div>
</div>

<button type="button" class="btn btn-danger logout">Logga ut</button>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>