
// Menubar styles
// --------------------------------------------------

.menubar {

  // Un-float the menu items
  .navbar-nav {
    float: none;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;

    > li {
      float: none;
      display: inline-block;
    }
  }

  // Stacked icon colors
  .fa-stack .fa {
    color: rgba(0,0,0,.8);
  }
  .fa-stack .fa:first-child {
    color: @base0A;
  }

}
