
// Menubar styles
// --------------------------------------------------

.menubar {

  // Un-float the menu items
  .navbar-nav {
    float: none;
    text-align: center;

    > li {
      float: none;
      display: inline-block;
    }
  }

}
