
// Titlebar styles
// --------------------------------------------------

.titlebar {

  // Inherit from Bootstrap .navbar
  .navbar;
  .navbar-default;
  .navbar-fixed-top;

  .titlebar-action {
    position: absolute;
    top: 0;
    right: 0;
  }

  .titlebar-label {
    text-align: center;
    font-size: @font-size-h5;
    font-weight: bold;

    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
  }

}
