
// Titlebar styles
// --------------------------------------------------

.titlebar {

  .navbar-toggle {
    border: none;
    padding-right: @grid-gutter-width / 2;
    padding-left: @grid-gutter-width / 2;
    margin-bottom: 0;
  }

  .navbar-title {
    margin-left: @padding-small-horizontal;
    padding-left: @padding-small-horizontal;
    border-left: 1px solid darken(@navbar-default-bg, 15%);
    font-weight: bold;
  }

  .titlebar-action {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: @grid-gutter-width / 2;
    padding-left: @grid-gutter-width / 2;

    display: none; // hidden by default
  }

  .titlebar-label {
    text-align: center;
    font-size: @font-size-h5;
    font-weight: bold;

    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
  }

}
