
.main {

  // Make space for fixed titlebar
  padding-top: @navbar-height;

  // Make space for fixed menubar
  padding-bottom: @navbar-height;

  // Position map under titlebar
  > .map-container {
    margin-top: -@navbar-height;
  }
}

